.jfx-date-picker .text-field {
    -fx-font-size: 13pt;
    -fx-text-fill: white;
    -fx-font-family: 'Noto Sans CJK KR Thin';
}
.jfx-date-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: white;
}
.jfx-date-picker .input-line{
    -fx-pref-height:1;
    -fx-translate-y: -10;
    -fx-background-color: white;
}