/*!*.list-view {*!*/
/*!*    -fx-background-color: white;*!*/
/*!*}*!*/
/*.list-cell:empty {*/
/*    -fx-border-width: 0;*/
/*}*/
/*!*.list-cell:even:hover {*!*/
/*!*    -fx-border-color:linear-gradient(to left, white, white) ;*!*/
/*!*    -fx-text-fill: white;*!*/
/*!*}*!*/
/*!*.list-cell:odd:hover {*!*/
/*!*    -fx-border-color:linear-gradient(to left, white, white) ;*!*/
/*!*    -fx-text-fill: white;*!*/
/*!*}*!*/
/*.list-cell:even:pressed {*/
/*    -fx-text-fill: black;*/
/*}*/
/*.list-cell:odd:pressed {*/
/*    -fx-text-fill: black;*/
/*}*/
/*.list-cell:hover:selected {*/
/*    -fx-border-color:white;*/
/*    -fx-text-fill: black;*/
/*}*/
/*.list-cell:selected {*/
/*    -fx-border-color:white;*/
/*    -fx-text-fill: black;*/
/*}*/
/*.list-cell:focused {*/
/*    -fx-background-insets:0px;*/
/*}*/
/*!*.list-cell:filled:selected {*!*/
/*!*    -fx-text-fill: red;*!*/
/*!*}*!*/
/*!*.list-cell:filled:selected:focused, .list-cell:filled:selected {*!*/
/*!*    -fx-background-color: white;*!*/
/*!*}*!*/
/*!*.list-cell-row:filled:hover {*!*/
/*!*    -fx-background-color: #8D45E7;*!*/
/*!*    -fx-text-fill: -fx-text-inner-color;*!*/
/*!*}*!*/
.list-cell:filled:selected {
    -fx-text-fill: red;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#9769d0 0%, #8f54d9 25%, #8d49e3 75%, #8333e6 100%);
    -fx-text-fill: red;
}
.list-cell:odd {
    -fx-background-color: white;
}
.list-cell:even {
    -fx-background-color: white;
}
.list-cell {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: gray;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :#3d3d3d;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :#3d3d3d;
    /*-fx-background-color :transparent;*/
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :#3d3d3d;
    /*-fx-background-color :transparent;*/
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color :#3d3d3d;
    -fx-shape : " ";
    -fx-padding :0.0 0.0 0.0 20.0;
    /*-fx-padding :0.15em 0.0;*/
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-background-color :#3d3d3d;
    -fx-shape : " ";
    /*-fx-padding :0.0 0.15em;*/
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#8333e6,95.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#8D45E7,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}