.list-view {
    -fx-padding: 10;
    -fx-background-color: white;
    -fx-background-radius: 20;
}
.list-view .cell:focused {
    -fx-background-color: white;
    -fx-background-radius: 20;
}
.list-view .cell {
    -fx-background-color: white;
    -fx-background-radius: 20;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :white;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :white;
    /*-fx-background-color :transparent;*/
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :white;
    /*-fx-background-color :transparent;*/
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-background-color :white;
    -fx-shape : " ";
    -fx-padding :0.0 0.0 0.0 20.0;
    /*-fx-padding :0.15em 0.0;*/
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-background-color :white;
    -fx-shape : " ";
    /*-fx-padding :0.0 0.15em;*/
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(#8333e6,95.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#8D45E7,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}