* {
    /*-fx-font-family: "NotoSansRegular";*/
    -fx-font-family: 'NotoSansRegular';
    -fx-text-fill: #8333e6;
}
.chart {
    -fx-text-fill:  black;
    -fx-font-size: 15pt;
}
.chart-legend-item {
    -fx-text-fill:  black;
    -fx-font-size: 15pt;
}
.axis-label {
    -fx-text-fill: black;
    -fx-font-size: 15pt;
}