.chart {
    -fx-text-fill:  white;
    -fx-font-size: 15pt;
}
.chart-legend-item {
    -fx-text-fill:  white;
    -fx-font-size: 15pt;
}
.axis-label {
    -fx-text-fill: white;
    -fx-font-size: 15pt;
}